<launch>

    <!-- set CAGG inerface required parameters -->
    <param name="/cagg_log_config_path" 
        value="$(find ros_cagg_teleop)/ros_java_cagg_teleop_interface/res/log4j_guiConf.xml" 
        type="str" />
    <param name="/cagg_serialized_directive_grammar" 
        value="$(find ros_cagg_teleop)/ros_java_cagg_teleop_interface/res/directive_grammar.ser" 
        type="str" />
    <param name="/cagg_serialized_go_grammar" 
        value="$(find ros_cagg_teleop)/ros_java_cagg_teleop_interface/res/go_grammar.ser" 
        type="str" />

    <param name="/cagg_timeout_ms" 
        value="30000"
        type="int" />
    <param name="/cagg_stopping_check_frequency"
        value="1500"
        type="int" />
    <param name="/cagg_stopping_confidence_threshold"
        value="3.0"
        type="double" />

    <!-- launch the CAGG interface -->
    <node pkg="ros_cagg_teleop" type="execute" name="ros_cagg_teleop" args="it.emarolab.ros_cagg_node.CaggNode" /> <!-- output="screen" -->
</launch>
